.body{
    background-color: gray;
  
   
    margin-top: 30px; ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 
    
}



.Camel{
    background-color: red;
    
}

.Chameleon{
    background-color: orange;
    
}

.Panda{
    background-color: yellow;
    
}

.Teddy{
    background-color: blue;
    
}

.Dog{
    background-color: green;
    
}

.Cicada{
    background-color: indigo;
    
}

.Pigeon{
    background-color: violet;
    
}

.Frog{
    background-color: teal;
    
}
a:visited{
  color: #ffffff
}

.item:hover img{
    opacity: 0.7;
}

h3{
    color: rgb(133, 17, 17);

   
   
}

